$ff-OpenSans: 'OpenSans';


@import "common/reset";
@import "fonts";

body {
	font-family: $ff-OpenSans;
}

.wrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(17, 18, 19, 0.91);
	@media (max-width: 1200px) {
		display: none;
	}
}

.img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 973.5px;
	height: 550px;
	perspective: 1700px;
	@media (max-width: 1600px) {
		display: block;
	}
	&.active{
		a.back {
			transform: rotateY(360deg);
		}
		a.front {
			transform: rotateY(180deg);
		}
	}
	@media (max-width: 100px) {
		display: none;
	}
	a {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: 1s;
		backface-visibility: hidden;
		border-radius: 15px;
		background-size: cover;
		@media (max-width: 300px) {
			display: flex;
		}
		@media (max-width: 1545px) {
			display: flex;
		}
		&.front {
			background-image: url("../images/RPNQ4b9Jtmo.jpg");
		}
		&.back {
			background-image: url("../images/T5j2LxkXnUo.jpg");
			transform: rotateY(108deg);
		}
	}
}



