 @font-face {
     font-family : 'OpenSans';
     font-weight : 400;
     font-style  : normal;
     src: url('../fonts/OpenSans-Regular.eot');
     src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans-Regular.woff') format('woff'),
          url('../fonts/OpenSans-Regular.woff2') format('woff2'),
          url('../fonts/OpenSans-Regular.ttf') format('truetype'),
          url('../fonts/OpenSans-Regular.svg#webfont') format('svg');
 }
